@import "./global.scss";

// <576px //手機板才樣式
@include media-breakpoint-down(sm) {
    .payyes {
        min-width: 330px;

        h1 {
            margin: 34px auto;
            padding: 0;
            text-align: center;
            border-bottom: 1px solid $DarkGrey;
            box-shadow: $BoxShadow;
        }
    }

    .paywidth {
        min-width: 330px;
    }

    .greeting {
        text-align: center;
        margin: 0 auto 0;
        min-width: 330px;
    }

    .purchaseSuccess {
        // max-width: 810px ;
        min-width: 330px;
        margin: 0 auto 40px !important;
        padding: 40px;
        border-bottom: 1px solid $DarkGrey;
        border-radius: $BorderRadius;
        box-shadow: $BoxShadow;

        button {
            border-radius: $BorderRadius;
        }
    }

    // 影藏css
    .stepPurchaseSuccess {
        display: none;
    }
    .checkstep {
        display: none;
    }
    .allTextStep {
        display: none;
    }
}

// ≥576px //桌機板樣式
@include media-breakpoint-up(sm) {
    //打勾SVG
    .centerSvg {
        display: flex;
        text-align: center;
        justify-content: center;
        margin-bottom: 33px;
    }
    //問候感謝div
    .greeting {
        margin: 0 auto 0;
        max-width: 810px;
        max-height: 70px;
        text-align: center;
        margin-bottom: 38px;
    }
    // .cardwidth{
    //     max-width: 810px;
    // }

    .purchaseSuccess {
        max-width: 810px;
        min-width: 330px;
        margin: 0 auto 40px !important;
        padding: 40px;
        border-bottom: 1px solid $DarkGrey;
        border-radius: $BorderRadius;
        box-shadow: $BoxShadow;

        button {
            border-radius: $BorderRadius;
        }
    }
}
