@import './style.scss';
@import '../styles/global.scss';


.ex-frame{
    display: flex;
    flex-direction:row;
    // 左半邊
    .intro-imgframe{
        height: calc(100vh - 88px);
        width: 40%;
    }
    .exhibition-img{
        width: 100%;
        height: 100%;
        background-position: center,center;
    }
    .overview{
        margin: 0 auto;
        padding: 20px;
        position: absolute;
        width: 30%;
        bottom: 10%;
        left: 5%;
        color: #fff;
        background: rgba(#6E7491,0.5);
        display: flex;
        flex-direction: column;
    }
    .titleframe{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    // 右半邊
    .content-background{
        width: 60%;
        height: calc(100vh - 176px);
        background: #eee;
        padding: 30px;
        overflow: scroll;
    }
    .content-page{
        border-radius: 20px;
        width: 100%;
        background: #fff;
        height: 150vw;
        padding: 40px;
    }
}






