@import './global.scss';

.homeNavBar{
    h6{
        color: $PurpleBlue;
    }
    a:-webkit-any-link {
        text-decoration: none;
    }
}
.homeSearchBar{
    gap: 16px;
    form{
        border: 1px solid $DarkGrey;
        border-radius: $BorderRadius;
        width: 230px;
        height: 42px;
        


        input{
            background: transparent;
            border: 1px solid transparent;
            width: 168px;
            margin: 9px;
            height: 22px;
    
    
        }
        input::placeholder{
            font-family: 'Noto Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: $DarkGrey;
        }
        input:focus{
            outline: none;

        }


        button{
            text-indent: -999px;
            overflow: hidden;
            width: 34px;
            padding: 0;
            margin: 0;
            border: none;
            background: transparent url(../../src/images/searchIcon.svg) no-repeat center;
            cursor: pointer;
            opacity: 0.7;
        }

    }
    button:nth-child(2){
        border-radius: $BorderRadius;
        height: 42px;
        width: 88px;
    }
    button:nth-child(3){
        border: none;
        background: transparent;
    }

    
    
}
// ====footer====

.fourword{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}

footer{
    margin: auto;
    height: 40vh;
    max-width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items:center
}

.footerSocial{
    font-size: 2.5rem;
}

.txtGray{
color:rgb(110,116,145);
text-decoration: none;
margin: 1rem;
}


.copyright{
    align-self: flex-end;
}

@media (max-width:768px) {
    .displayN{
        display: none !important;
    }
    .fourword{
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        align-items: center;
    }

    .fourword > .align-items-center{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .fourword  button{
        margin: 30px;
        width: 70vw;
        color: #fff;
        border: #fff 1px solid;
    }
    
    footer{
        min-width:100vw;
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        align-items:center;
        margin: 0;
        padding: 0;
        background-color:rgb(110,116,145);
    }

    .txtGray{
        color:#fff;
        text-decoration: none;
        
    }

    
    .copyright{
        align-self:center;
    }
    
    //=== footer===
    
    
    }
