@import './global.scss';
    h6 {
        color: $WarnYellow !important
    }
    //Form 表單樣式
    .payForm{
    padding:40px !important;
    border-bottom: 1px solid $DarkGrey;
    border-radius: $BorderRadius;
    box-shadow: $BoxShadow;
    input {
        border: 1px solid $DarkGrey;
        border-radius: $BorderRadius;
    }
    select{
        border-radius: $BorderRadius;
    }
    textarea{
        border-radius: $BorderRadius;
    }
    button{
        border-radius: $BorderRadius;
    }
    }

    // <576px //手機板才樣式
    @include media-breakpoint-down(sm) {  
        //
        .payyes{
            min-width: 330px;
            
            h1{
                margin:34px auto;
                padding: 0;
                text-align: center;
                border-bottom: 1px solid $DarkGrey;
                box-shadow: $BoxShadow;
            }
        }
        // 最小寬度
        .paywidth{
            min-width: 330px;
        }

        // 影藏 Step 進度條
        
        .allTextStep{
            display: none;
        }
    }
    
    // ≥576px //桌機板樣式
    @include media-breakpoint-up(sm) {

        
        .payyes{
            display: none;
        }

      }
     
   
   