@import './global.scss';


// <576px //手機板才樣式
@include media-breakpoint-down(sm) { 
    .payyes{
        min-width: 330px;
        
        h1{
            margin:34px auto;
            padding: 0;
            text-align: center;
            border-bottom: 1px solid $DarkGrey;
            box-shadow: $BoxShadow;
        }
    }

    .paywidth{
        min-width: 330px;
    }
    // 影藏css
    .step {
        display: none;
    }
    .checkstep{
        display: none;
    }
    .allTextStep{
        display: none;
    }
}


// ≥576px //桌機板樣式
@include media-breakpoint-up(sm) { 

}