@import './global.scss';



// <576px //手機板才樣式
@include media-breakpoint-down(sm) { 
    .payyes{
        min-width: 330px;
        
        h1{
            margin:34px auto;
            padding: 0;
            text-align: center;
            border-bottom: 1px solid $DarkGrey;
            box-shadow: $BoxShadow;
        }
    }

    .paywidth{
        min-width: 330px;
    }
    // 影藏css
    .stepPurchaseSuccess {
        display: none;
    }
    .checkstep{
        display: none;
    }
    .allTextStep{
        display: none;
    }
}


// ≥576px //桌機板樣式
@include media-breakpoint-up(sm) { 
    .stepPurchaseSuccess {
        min-width: 650px;
        margin:0px auto 100px;
        padding: 0;
        // outline: 1px solid $DarkGrey;
        display: flex;
        justify-content: space-between;
    }
    .stepPurchaseSuccess li{
        list-style: none;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $MiddleGrey;
        position: relative;
    }
    .stepPurchaseSuccess li:not(:first-child):before{
        content: '';
        position: absolute;
        width: 20.4rem;
        height: 10px;
        background-color: $LightGrey;
        top: 0;
        bottom: 0;
        right: 100%;
        margin: auto;
    }
    //打勾SVG
    .centerSvg{
        display: flex;
        text-align: center;
        justify-content: center;
        margin-bottom: 33px;
    }
    //問候感謝div
    .greeting{
        max-width: 809px;
        max-height: 71px;
        text-align: center;
        margin-bottom: 38px;
    }
}