@import "./global.scss";

.usersRow {
    height: calc(100vh - 93.9px);
}

.usersBackground {
    background-color: #ffffff;
    box-shadow: $BoxShadow;
}

.usersContentcolor {
    color: $DarkGrey;
}
.usersRow1 {
    height: calc(100vh - 390px - 93.9px);
}
.S9gUrf-YoZ4jf {
    display: flex;
    justify-content: center;
}
.usersData {
    min-width: 568px !important;
}

@media (max-width: 570px) {
    .usersData {
        min-width: 368px !important;
    }
    .usersRow {
        height: 100vh;
    }
}
